<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eurooo Stock</title>
  <script src="//at.alicdn.com/t/font_624958_obpq1ebvd9hvkj4i.js"></script>

</head>
<body>
  <div id="root"></div>
  <style>
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
      background: none;
    }
  </style>
</body>
</html>
