em, i {
  font-style: normal;
}
dl {
  margin-top: 0;
  margin-bottom:0;
}
html, body, :global(#root) {
  height: 100%;
  color: #7a7676;
  font-family:"Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;
}
:global(.g-t-header){
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-transform: uppercase;
  color: #535351;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}
:global(.g-t-main .ant-form-explain){
  font-weight: 700;
  line-height: 24px;
}
:global(.g-f-item){
  padding:0 30px !important;
}
:global(.g-m-b-12){
  margin-bottom: 12px !important;
}

:global(.ant-form-item-required:before){
  font-size:12px;
  margin-right: 2px;
}
:global(.g-t-form-wrap){
  padding:30px 15px;
  height: calc(100vh - 169px);
  overflow: hidden;
  overflow-y: auto;
}
:global(.g-t-form-wrap::-webkit-scrollbar){/*滚动条整体样式*/
   width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
   height: 1px;
}
:global(.g-t-form-wrap::-webkit-scrollbar-thumb) {/*滚动条里面小方块*/
   border-radius: 2px;
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
   background: #535353;
 }
:global(.g-t-form-wrap::-webkit-scrollbar-track) {/*滚动条里面轨道*/
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
   border-radius: 2px;
   background: #EDEDED;
 }
:global(.g-t-wrap){
  padding: 30px;
}
:global(.g-t-main){
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
:global(.ant-modal-body){
  padding: 0 !important;
}
:global(.ant-modal-content){
  box-shadow: none !important;
}
:global(.ant-btn-danger){
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}
:global(.ant-btn-danger:hover){
  background-color: #c9302c;
  border-color: #ac2925;
}
:global(.alertPanel){
  position: absolute;
  top: -50%;
  z-index: 10000;
  width: 60%;
  left: 50%;
  transition:all .35s;
}
:global(.alertPanel.display){
  top: 50%;
  transform: translate(-50%,-50%);
}
:global(.subitem){
  min-width: 100% !important;
}
:global(.ant-pagination-item-active){
  background: #428bca !important;
  border-color: #428bca !important;
}
:global(.ant-pagination-item){
  border-radius: 0 !important;
}
:global(.ant-pagination-item-active a){
  color: #fff !important;
}
:global(.ant-pagination-disabled){
  background: #e6e6e6!important;
}
:global(.ant-pagination-disabled:hover){
  background: #ccc!important;
  border-color: #ccc !important;
}
:global(.ant-pagination-disabled a){
  color: #bbb!important;
}
:global(.ant-input[readonly=readonly]:focus){
  border-color: #d9d9d9;
  outline: 0;
  box-shadow: none;
}
:global(.ant-input[readonly=readonly]:hover){
  border-color: #d9d9d9;
}
:global(.ant-table-tbody tr:hover td){
  background: #fafafa !important;
}



